@import "./reset.css";
@import "./theme.css";
@import "./base.css";

.component {
  display: flex;
  flex-flow: column;
  gap: 30px;
  padding: 1.25rem;
}
.release {
  font-size: var(--small-text);
  color: var(--gray);
}

.blue-button {
  border: 1px solid var(--blue-100);
  padding-block: var(--x-small-spacing);
  padding-inline: var(--small-spacing);
  border-radius: 1.5rem;
  color: var(--blue-100);
}

.blue-button.more {
  background: var(--blue-100);
  color: var(--white);
}

.black-button {
  border: 1px solid var(--black);
  padding-block: var(--x-small-spacing);
  padding-inline: var(--small-spacing);
  border-radius: 1.5rem;
}

.black-button.more {
  background: var(--black);
  color: var(--white);
  padding-block: var(--x-small-spacing);
  padding-inline: var(--small-spacing);
  border-radius: 1.5rem;
}

.product {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--small-spacing);
  block-size: var(--size);

  .sm-title {
    margin-block-start: var(--large-spacing);
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;

    a {
      margin-inline: var(--base-spacing);
    }
  }
}
